version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  web:
    build: .
    container_name: phone_address_api
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    ports:
      - '8000:8000'

volumes:
  redis_data: